* {
	box-sizing: border-box; /* hace que los bordes ocupen el espacio hacia dentro. */
	margin:	0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

/* <!--================================
            Globals Configurations
    =================================--> */

body {
    background-color: white;
}


.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.body {
    position: relative;
    height: 100%;
    justify-content: space-around;
    /* overflow: hidden; */
}

.flex {

     display: flex;
     flex-wrap: wrap; /* hace que flex no te ajuste automatico todo */

}

.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(0,0,0,0.5);
}



/* <!--================================
            Sliders Configurations
    =================================--> */

ul, li {
    list-style: none;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
}

li img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.7s;

}

.slider input[type="radio"]:checked ~ img {
    opacity: 1;
}


.slider input[type="radio"]{
    opacity: 0;
}




/* <!--================================
    3 circulos para pasar de imagenes
    =================================--> */



.menu li {
    display: inline-block;
}

.menu li label {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
    width: 13px;
    height: 13px;
    font-size: 20px;
    border-radius: 100%;
    margin-right: 5px;
    border: solid 1px white;
    transition: 0.2s;
    cursor: pointer;
}

.menu li label:hover {
    background-color: white;
}

        /* <!--================================
    INFORMACION (FELIPE NIETO     --     PROGRAMADOR)
        =================================--> */

.header-information {
    position: absolute;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;

}


.nombre-programador {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
}



.nombre-programador span {
    color: #ffc311 ;
}



/* <!--================================
            CAJA DEL CENTRO
    =================================--> */


.inner {
    position: absolute;
    height: 100%;
    justify-content: center;
    margin-bottom: 2.308rem;
}



/* <!--================================
            REDES SOCIALES
    =================================--> */

.center {
    position: absolute;
    height: 60%;
    justify-content: center;
}


.social-networks .casilla-icon i {
    color: white;
    transform: translate(0,0);
    transition: 0.6s cubic-bezier(0,0.6,0.35,1.21) transform, 0.2 ease opacity;
}

.fila-icons {
    display: table;
    text-align: center;
}

.social-networks {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}

.social-networks .casilla-icon {
    padding: 5px;
    display: table-cell;
    position: relative;
    text-align: center;
    cursor: pointer;
}


.social-networks .casilla-icon span{
    display: block;
    position: absolute;
    color: transparent;
    font-size: 12px;
    left: 0;
    right: 0;
    opacity: 1;
    transform: translate(0,40px);
    transition: 0.6s cubic-bezier(0,0.31,0.22,1.25) transform;
}

.social-networks .casilla-icon:hover i {
    color: #ffc311;
    opacity: 1;
    transform: translate(0,-10px);
}

.social-networks .casilla-icon:hover span {
    color: #ffc311;
    transform: translate(0,-8px);
   }


/* <!--================================
            STUDENT
    =================================--> */

   
.student {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin-bottom: 2.308rem;
}


.student h2 {
    font-family: 'Titillium Web';
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
}


.student p{
    color: white;
    font-family: 'Poppins';
    text-align: center;
}

.sena-academlo a span{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 600;
}


/* <!--================================
            MENU
    =================================--> */


.menu {
    text-align: center;
    opacity: 1.2;
    position: absolute;
}


/* <!--================================
                 ACADEMLO - SENA
    =================================--> */


.sena-academlo {
    position: absolute;
    bottom: -25%;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.sena, .academlo {

    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.sena-academlo a {
    display: flex;
    height: 100%;
    text-decoration: none;
    border-bottom: solid 1px white;
    color: white;
    cursor: pointer;
    margin-right: 5%;

}


.sena-academlo a:hover {
    color: #ffc311;
    border-bottom: solid 1px #ffc311;
    transition: 0.2s;
}


/* <!--================================
                 HTML-CSS-JS
    =================================--> */


.body img {
    width: 100%;
    height: 100%;
}

.presentation-image {
    height: 100%;
    position: relative;
    top: 0;
    overflow: hidden;
    background-size: cover;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 20%;
    padding-right: 5%;
    padding-left: 5%;
    background:rgba(0,0,0,0.2);

 
}



.presentation-image h3 {
    position: absolute;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-size: 5rem;
    color: white;
    transition: 1s ease 0s;
}


.presentation-image p {
    position: absolute;
    text-align: center;
    top: 15%;
    right: -126%;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    color: transparent;
    transition: 1s ease 0s;
}


.presentation-image span {
    position: absolute;
    text-align: center;
    bottom: 15%;
    right: -156%;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Titillium Web';
    color: white;
    transition: 1s ease 0s;
}


.html {
    background-color: #e44c24;
}

.css {
    background-color: #0474bc;
}

.js {
    background-color: #ebdb4b;
}

.presentation-image img {
    width: 100%;
    height: auto;

}

.action-html, .action-css, .action-js {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 100%;
    transition: 1s ease 0s;
}

.body .html:hover .action-html {
    bottom: 0;
    transition: 1s ease 0s;
}

.body .css:hover .action-css {
    bottom: 0;
    transition: 1s ease 0s;
}

.body .js:hover .action-js {
    bottom: 0;
    transition: 1s ease 0s;
}


.body .html:hover h3 {
    bottom: 0%;
    color: transparent;
}

.body .css:hover h3 {
    bottom: 0%;
    color: transparent;
}

.body .js:hover h3 {
    bottom: 0%;
    color: transparent;
}




/* <!--================================
            footer
    =================================--> */


.footer {
    position: relative;
    height: 20vh;
    overflow: hidden;
    justify-content: space-between;
}

.overlay-footer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(255,255,255,0.5);

}

.footer img {
    position: absolute;
    top: -220%;
    width: 100%;
}


.logo-academlo {
    position: relative;
    overflow: hidden;
    height: 100%;
    align-items: center;
    
}

.nombre-footer {
    height: 100%;
    align-items: center;
    justify-content: center;
    
}


.logo-sena img {
    width: 100%;
    height: 160%;
    position: absolute;
    top: -30%;
    padding-left: 10%;
    padding-right: 10%;
}

.logo-academlo img {
    width: 100%;
    position: absolute;
    top: -5%;
    padding-left: 5%;
    padding-right: 5%;
 
}




.nombre-footer i {
    position: relative;
    color: white;
    top: 1%;

}



/* <!--================================
            PHONE Configurations
    =================================--> */
    
@media (max-width: 768px) {

    .header-information {
        top: 3%;
    
    }

    .nombre-programador {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .center {
        top: 13%;
    }

    .social-networks {
        height: 10%; 
    }

    .social-networks .casilla-icon {
        padding-right: 5%;         
    }

    .student {
        height: 80%;
        margin-top: 18%;
    }

    .student h2 {
        font-size: 3.462rem;
        line-height: 3.462rem;
    }

    
    .student p {
        font-size: 0.8rem;
    }

    .sena-academlo a span {
        font-size: 1rem;
    }

    .menu {
        top: 90%;
        left: 1%;
        right: 80%;
    }

    .presentation-image h3 {
        bottom: -2%;
    }
    
    
    
    .presentation-image p {
        font-size: 1.5rem;
    }

    .presentation-image span {
        font-size: 2rem;
    }



    .body .html:hover span {
        color: white;
        right: 25%;
        
    }
    
    .body .css:hover span {
        color: white;
        right: 25%;
        
    }
    
    .body .js:hover span {
        color: white;
        right: 25%;
        
    }

    
    .body .html:hover p {
        color: white;
        right: 5%;
    
    }

    .body .css:hover p {
        color: white;
        right: 5%;
    
    }

    .body .js:hover p {
        color: white;
        right: 5%;
    
    }


    #text-footer span {
        display: block;
        padding-top: 15%;
    } 


    #text-footer {
        font-size: 2rem;
        line-height: 1rem;
    }

    .contacto {
        flex-direction: column;
        justify-content: space-around;
    }




    .wpp {
        padding-top: 5%;
        padding-bottom: 1%;
        padding-right: 2%;
        justify-content: center;
        height: 50%;
    }
    
    .numero {
        padding-left: 2%;
        padding-bottom: 5%;
        height: 50%;
        justify-content: center;
        text-align: center;
    
    }


    /* <!--================================
                COL1 - COL 12 PHONE
    =================================--> */

    .col-1 {
        width: 8.33%;    
    }
    .col-2 {
        width: 16.66%;    
    }
    .col-3 {
        width: 25%;    
    }
    .col-4 {
        width: 33.33%;    
    }
    .col-5 {
        width: 41.66%;    
    }
    .col-6 {
        width: 50%;    
    }
    .col-7 {
        width: 58.33%;    
    }
    .col-8 {
        width: 66.66%;    
    }
    .col-9 {
        width: 75%;    
    }
    .col-10 {
        width: 83.33%;    
    }
    .col-11 {
        width: 91.66%;    
    }
    .col-12 {
        width: 100%;    
    }
}


/* <!--================================
            TABLE Configuration
    =================================--> */

@media (min-width: 768px) and (max-width: 992px) { 


    .header-information {
        top: 10%;
    
    }

    .nombre-programador {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .center {
        top: 20%;
    }

    .social-networks {
        height: 15%;
    }

    .student {
        height: 70%;
        margin-top: 15%;
    }


    .student h2 {
        font-size: 6.154rem;
        line-height: 6.154rem;
        text-align: center;
    }

    .sena-academlo a span{
        font-size: 1.077rem;
    }

    .menu {
        top: 90%;
        left: 1%;
        right: 80%;
    }

    .presentation-image h3 {
        bottom: 15%;
    }

    .presentation-image p {
        font-size: 2rem;
    }
    
    .presentation-image span {
        font-size: 4rem;     
    }


    .body .html:hover span {
        color: white;
        right: 25%;
        
    }
    
    .body .css:hover span {
        color: white;
        right: 25%;
        
    }
    
    .body .js:hover span {
        color: white;
        right: 25%;
        
    }

    .body .html:hover p {
        color: white;
        right: 16%;
    
    }

    .body .css:hover p {
        color: white;
        right: 16%;
    
    }

    .body .js:hover p {
        color: white;
        right: 16%;
    
    }


    #text-footer span{
        display: block;
        padding-top: 15%;
    } 

    #text-footer {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .wpp {
        padding-top: 5%;
        padding-bottom: 1%;
        justify-content: center;
        height: 50%;
    }
    
    .numero {
        padding-bottom: 5%;
        height: 50%;
        justify-content: center;
    
    }
    

    /* <!--================================
                COL1 - COL 12 TABLE
    =================================--> */
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }

}



/* <!--================================
            PC Configurations
    =================================--> */

@media (min-width: 992px) { 

    .header-information {
        top: 10%;
    
    }

    .nombre-programador {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .center {
        top: 20%;
    }

    .social-networks {
        height: 15%;
    }

    .student {
        height: 70%;
        margin-top: 8%;
    }

    .student h2 {
        font-size: 6.154rem;
        line-height: 6.154rem;
        text-align: center;
    }

    .sena-academlo a span{
        font-size: 1.077rem;
    }

    .menu {
        top: 90%;
        left: 45%;
        right: 45%;
    }

    .presentation-image h3 {
        bottom: 15%;
    }

    .presentation-image p {
        font-size: 2rem;
    }
    
    .presentation-image span {
        font-size: 4rem;     
    }

    .body .html:hover span {
        color: white;
        right: 7%;
        
    }
    
    .body .css:hover span {
        color: white;
        right: 7%;
        
    }
    
    .body .js:hover span {
        color: white;
        right: 7%;
        
    }
    
    .body .html:hover p {
        color: white;
        right: 5%;
    
    }

    .body .css:hover p {
        color: white;
        right: 5%;
    
    }

    .body .js:hover p {
        color: white;
        right: 5%;
    
    }


    #text-footer {
        font-size: 3.5rem;
        line-height: 4rem;
    }




    .wpp {
        padding-top: 5%;
        padding-bottom: 1%;
        justify-content: center;
        height: 50%;
    }
    
    .numero {
        padding-bottom: 5%;
        height: 50%;
        justify-content: center;
    
    }
    


    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }

}
    