* {
	box-sizing: border-box; /* hace que los bordes ocupen el espacio hacia dentro. */
	margin:	0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}


/* <!--================================
            Globals Configurations
    =================================--> */

body {
    background-color: white;
}


.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.flex {

     display: flex;
     flex-wrap: wrap; /* hace que flex no te ajuste automatico todo */

}

.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(0,0,0,0.5);
}

/* <!--================================
            Sliders Configurations
    =================================--> */
#slide1, #slide2, #slide3 {
    background-size: cover;
}

ul, li {
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 500ms ease 0s;
}

ul.slider li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center center;
    background-size: cover;

}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

/* <!--================================
    3 circulos para pasar de imagenes
    =================================--> */



.menu li {
    display: inline-block;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
    width: 13px;
    height: 13px;
    font-size: 20px;
    border-radius: 100%;
    margin-right: 5px;
    border: solid 1px white;
    transition: 0.2s;
}

.menu li a:hover {
    background-color: white;
}

        /* <!--================================
    INFORMACION (FELIPE NIETO     --     PROGRAMADOR)
        =================================--> */





.nombre-programador span {
    color: #ffc311 ;
}



/* <!--================================
            CAJA DEL CENTRO
    =================================--> */


.inner {
    position: absolute;
    height: 100%;
    /* background-color: red; */
    justify-content: center;
    margin-bottom: 2.308rem;
}



/* <!--================================
            REDES SOCIALES
    =================================--> */


.social-networks .casilla-icon i {
    color: white;
    transform: translate(0,0);
    transition: 0.6s cubic-bezier(0,0.6,0.35,1.21) transform, 0.2 ease opacity;
}

.fila-icons {
    display: table;
    text-align: center;
}

.social-networks .casilla-icon span{
    display: block;
    position: absolute;
    color: transparent;
    font-size: 12px;
    left: 0;
    right: 0;
    opacity: 1;
    transform: translate(0,40px);
    transition: 0.6s cubic-bezier(0,0.31,0.22,1.25) transform;
}

.social-networks .casilla-icon:hover i {
    color: #ffc311;
    opacity: 1;
    transform: translate(0,-10px);
}

.social-networks .casilla-icon:hover span {
    color: #ffc311;
    transform: translate(0,-8px);
   }


/* <!--================================
                 ACADEMLO - SENA
    =================================--> */


.sena-academlo{
    position: absolute;
    bottom: -25%;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
}

.sena, .academlo{

    height: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}


.sena-academlo a{
    display: flex;
    height: 100%;
    text-decoration: none;
    border-bottom: solid 1px white;
    color: white;
    cursor: pointer;
    margin-right: 5%;

}



.sena-academlo a:hover{
    color: #ffc311;
    border-bottom: solid 1px #ffc311;
    transition: 0.2s;
}

/* <!--================================
            PHONE Configurations
    =================================--> */
    
    @media (max-width: 768px) {

        .header-information {
            position: absolute;
            height: 10%;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 15px;
            padding-right: 15px;
            top: 3%;
            justify-content: space-between;
        
        }

        .nombre-programador {
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 800;
            color: white;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 5px;
        }

        .center {
            position: absolute;
            height: 60%;
            top: 13%;
            justify-content: center;
            /* background-color: blue; */
        }

        .social-networks {
            position: absolute;
            height: 10%;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: center;
            /* background-color: yellow; */
            
        }

        .social-networks .casilla-icon {
            padding: 5px;
            display: table-cell;
            position: relative;
            cursor: pointer;
            padding-right: 5%;
            text-align: center;
            
        }

         

        .student {
            position: absolute;
            height: 80%;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: center;
            margin-top: 18%;
            margin-bottom: 2.308rem;
        }

        .student h2 {
            font-family: 'Titillium Web';
            font-size: 3.462rem;
            line-height: 3.462rem;
            font-weight: 800;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        
        .student p{
            color: white;
            font-family: 'Poppins';
            text-align: center;
            font-size: 0.8rem;
        }

        .sena-academlo a span{
            font-family: 'Poppins';
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
        }

        .menu {
            text-align: center;
            opacity: 1.2;
            position: absolute;
            top: 90%;
            left: 1%;
            right: 80%;
        }

        /* <!--================================
                    COL1 - COL 12 PHONE
        =================================--> */

        .col-1 {
            width: 8.33%;    
        }
        .col-2 {
            width: 16.66%;    
        }
        .col-3 {
            width: 25%;    
        }
        .col-4 {
            width: 33.33%;    
        }
        .col-5 {
            width: 41.66%;    
        }
        .col-6 {
            width: 50%;    
        }
        .col-7 {
            width: 58.33%;    
        }
        .col-8 {
            width: 66.66%;    
        }
        .col-9 {
            width: 75%;    
        }
        .col-10 {
            width: 83.33%;    
        }
        .col-11 {
            width: 91.66%;    
        }
        .col-12 {
            width: 100%;    
        }
    }










/* <!--================================
            PC Configurations
    =================================--> */

    @media (min-width: 992px) { 

        .header-information {
            position: absolute;
            height: 10%;
            margin-left: 5%;
            margin-right: 5%;
            padding-left: 15px;
            padding-right: 15px;
            top: 10%;
            justify-content: space-between;
        
        }

        .nombre-programador {
            font-family: 'Titillium Web', sans-serif;
            font-size: 2rem;
            line-height: 3.5rem;
            font-weight: 800;
            color: white;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 5px;
        }

        .center {
            position: absolute;
            height: 60%;
            top: 20%;
            justify-content: center;
            /* background-color: blue; */
        }

        .social-networks {
            position: absolute;
            height: 15%;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: center;
            /* background-color: yellow; */
        }

        .social-networks .casilla-icon {
            padding: 5px;
            display: table-cell;
            position: relative;
            text-align: center;
            cursor: pointer;
          }

        .student {
            position: absolute;
            height: 70%;
            padding-left: 15px;
            padding-right: 15px;
            justify-content: center;
            margin-top: 8%;
            margin-bottom: 2.308rem;
        }


        .student h2 {
            font-family: 'Titillium Web';
            font-size: 6.154rem;
            line-height: 6.154rem;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;
            color: #FFFFFF;
        }

        
        .student p{
            color: white;
            font-family: 'Poppins';
            text-align: center;
        }

        .sena-academlo a span{
            font-family: 'Poppins';
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.077rem;
        }

        .menu {
            text-align: center;
            opacity: 1.2;
            position: absolute;
            top: 90%;
            left: 45%;
            right: 45%;
        }

        .col-lg-1 {
            width: 8.33%;
        }
        .col-lg-2 {
            width: 16.66%;
        }
        .col-lg-3 {
            width: 25%;
        }
        .col-lg-4 {
            width: 33.33%;
        }
        .col-lg-5 {
            width: 41.66%;
        }
        .col-lg-6 {
            width: 50%;
        }
        .col-lg-7 {
            width: 58.33%;
        }
        .col-lg-8 {
            width: 66.66%;
        }
        .col-lg-9 {
            width: 75%;
        }
        .col-lg-10 {
            width: 83.33%;
        }
        .col-lg-11 {
            width: 91.66%;
        }
        .col-lg-12 {
            width: 100%;
        }
    
     }
    