* {
	box-sizing: border-box; /* hace que los bordes ocupen el espacio hacia dentro. */
	margin:	0;
    padding: 0; 
      /*Quita los espacios que los navegadores ponen entre etiquetas. */
    font-family: 'Poppins', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: white;
}

.blue {
    background-color: blue;
}

.header {
    position: relative;
    height: 592.969px;
}

.flex {

     display: flex;
     flex-wrap: wrap; /* hace que flex no te ajuste automatico todo */

}

.col6 {
    width: calc(100% / 2);;
    height: 50px;
    background-color: blueviolet;
    border: solid 1px black;
}

.col8 {
    width: calc(100% / 1.5);
    height: 50px;
    background-color: royalblue;
    border: solid 1px black;
}

.col4 {
    width: calc(100% / 3);
    height: 50px;
    background-color: rebeccapurple;
    border: solid 1px black;
}

.col1 {
    width: calc(100% / 12);
    height: 50px;
    background-color: rebeccapurple;
    border: solid 1px black;
}

.margin {
    margin-bottom: 10px;
}

.container {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

#slide1, #slide2, #slide3 {
    background-size: cover;
}

a {
    font-size: 16px;
}

ul, li {
    list-style: none;
}

ul.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: black;
    transition: 500ms ease 0s;
}

ul.slider li img {
    width: 100%;
    height: 592.969px;
    object-fit: cover;
    background-position: center center;
    background-size: cover;

}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    opacity: 1.2;
    position: absolute;
    top: 90%;
    left: 45%;
    right: 45%;
    z-index: 3;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
    width: 13px;
    height: 13px;
    font-size: 20px;
    border-radius: 100%;
    margin-right: 5px;
    border: solid 1px white;
    transition: 0.2s;
}

.menu li a:hover {
    background-color: white;
}

.header-information {
    position: absolute;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 2;
    top: 10%;
    justify-content: space-between;

}

.nombre-programador{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    z-index: 2;
}

.nombre-programador span{
    color: #ffc311 ;
}

.overlay { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:rgba(0,0,0,0.5);
    z-index: 1;
}

